body {
  margin: 0;
  box-sizing: border-box;
}
.max-width {
  box-sizing: border-box;
  max-width: 1200px;
  margin-inline: auto;
}
.main-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.mt10 {
  margin-top: 10px;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-inline: auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.center {
  display: flex;
  align-items: center;
  width: 540px;
  position: relative;
  justify-content: center;
  margin-top: 74px;
  margin-left: 0px;
  box-sizing: border-box;
}
/* .side {
  width: 25%;
} */
.center .pt {
  width: 303px;
}
.center .abs-txt {
  width: 145px;
  left: 84px;
  margin: auto;
  right: 0;
  top: 49px;
  bottom: 0;
  position: absolute;
}
.center .lt {
  width: 234.5px;
  margin-left: -17px;
}
.center img {
  width: 100%;
}

/* .l1 img {
  width: 180px;
} */
.l1 img {
  width: 150px;
}
.l2-3 img {
  width: 215px;
}

.scope-txt {
  text-align: center;
}
.scope-txt img {
  width: 444px;
  margin-top: 77px;
}
.bg1 {
  display: block;
  left: 0;
}
.l1 .bg1-over {
  position: absolute;
  left: 54px;
  top: 33px;
  z-index: 1;
  width: 127px;
}
.bg1text {
  top: 53px;
  position: absolute;
  left: 67px;
  z-index: 9;
  width: 83px !important;
}
.l1 .bg2-over {
  position: absolute;
  left: 7px;
  z-index: 8;
  top: -29px;
  width: 131px;
}
.bg3main,
.bg2main {
  margin-top: 70px !important;
}
.bg2main .relative {
  left: -37px;
}
.bg3main .relative {
  left: 36px;
}
.l1 .bg2-text {
  z-index: 10;
  left: 29px;
  position: absolute;
  width: 96px;
  top: 38px;
}
.l1 .bg2 {
  position: relative;
  z-index: 5;
}
.l1 .bg3 {
  left: 79px;
  position: absolute;
  top: -19px;
}
.l1 .bg3-text {
  position: absolute;
  top: 44px;
  left: 98px;
  width: 114px;
}
.l1 .bgr1-over {
  position: absolute;
  left: -15px;
  top: 31px;
  z-index: 1;
  width: 127px;
}
.bgr1text {
  top: 58px;
  position: absolute;
  left: 15px;
  z-index: 9;
  width: 78.5px !important;
}
.l1 .bgr2-over {
  position: absolute;
  left: 20px;
  z-index: 8;
  top: -36px;
  width: 131px;
}
.l1 .bgr2-text {
  z-index: 10;
  left: 20px;
  position: absolute;
  width: 98px;
  top: 34px;
}

.l1 .bgr3 {
  left: -38px;
  position: absolute;
  top: -17px;
}
.l1 .bgr3-text {
  position: absolute;
  top: 45px;
  left: -26px;
  width: 114px;
}
.l1 .bg3-line {
  width: 34px;
  position: absolute;
  top: 85px;
  left: 106px;
}
.l1 .bgr3-line {
  width: 40px;
  position: absolute;
  top: 76px;
  left: 11px;
}
@media (max-width: 920px) {
  .l1 .bgr3-line {
    width: 34px;
    position: absolute;
    top: 77px;
    left: 13px;
  }
  .l1 .bg3-line {
    width: 33px;
    position: absolute;
    top: 85px;
    left: 108px;
  }
  .scope-txt img {
    width: 404px;
    margin-top: 100px;
  }
  .center {
    width: 450px;
    margin-top: 94px;
  }
  .center .lt {
    width: 199px;
    margin-left: -14px;
  }
  .center .pt {
    width: 257px;
  }
  .center .abs-txt {
    width: 118px;
  }
}
@media (max-width: 800px) {
  .l1 .bgr3-line {
    width: 34px;
    position: absolute;
    top: 59px;
    left: 13px;
  }
  .l1 .bg3-line {
    width: 34px;
    position: absolute;
    top: 63px;
    left: 100px;
  }
  .scope-txt img {
    width: 352px;
    margin-top: 97px;
  }
  .l1 .bg1-over {
    width: 100px;
  }
  .l1 img {
    width: 120px;
  }
  .l1 .bg1-over {
    position: absolute;
    left: 39px;
    top: 22px;
    z-index: 1;
    width: 100px;
  }
  .bg1text {
    top: 50px;
    position: absolute;
    left: 59px;
    z-index: 9;
    width: 62px !important;
  }
  .l1 .bg2-over {
    position: absolute;
    left: 5px;
    z-index: 8;
    top: -25px;
    width: 107px;
  }
  .l1 .bg2-text {
    z-index: 10;
    left: 24px;
    position: absolute;
    width: 77px;
    top: 25px;
  }
  .l1 .bg3-text {
    position: absolute;
    top: 32px;
    left: 96px;
    width: 88px;
  }
  .center .lt {
    width: 147px;
    margin-left: -11px;
  }
  .center .pt {
    width: 190px;
  }
  .center {
    width: 100%;
  }
  .center .abs-txt {
    left: 54px;
    margin: auto;
    right: 0;
    top: 32px;
    bottom: 0;
    width: 99px;
    position: absolute;
  }

  .l1 .bgr1-over {
    position: absolute;
    left: -12px;
    top: 27px;
    z-index: 1;
    width: 103px;
  }
  .bgr1text {
    top: 49px;
    position: absolute;
    left: 15px;
    z-index: 9;
    width: 60.5px !important;
  }
  .l1 .bgr2-over {
    position: absolute;
    left: 14px;
    z-index: 8;
    top: -25px;
    width: 103px;
  }
  .l1 .bgr2-text {
    z-index: 10;
    left: 15px;
    position: absolute;
    width: 80px;
    top: 29px;
  }
  .l1 .bgr3 {
    left: -24px;
    position: absolute;
    top: -16px;
  }
  .l1 .bgr3-text {
    position: absolute;
    top: 34px;
    left: -14px;
    width: 82px;
  }
}

@media (max-width: 620px) {
  .l1 .bgr3-line {
    width: 21px;
    position: absolute;
    top: 37px;
    left: 7px;
  }
  .l1 .bg3-line {
    width: 18px;
    position: absolute;
    top: 41px;
    left: 54px;
  }

  .scope-txt img {
    width: 235px;
    margin-left: 20px;
    margin-top: 64px;
  }
  .l1 img {
    width: 75px;
  }
  .l1 .bg1-over {
    position: absolute;
    left: 24px;
    top: 14px;
    z-index: 1;
    width: 67px;
  }
  .bg1text {
    top: 27px;
    position: absolute;
    left: 33px;
    z-index: 9;
    width: 42px !important;
  }
  .l1 .bg2-over {
    position: absolute;
    left: 0px;
    z-index: 8;
    top: -16px;
    width: 69px;
  }
  .l1 .bg2-text {
    z-index: 10;
    left: 18px;
    position: absolute;
    width: 44px;
    top: 19px;
  }
  .l1 .bg3 {
    left: 40px;
    position: absolute;
    top: -10px;
  }
  .l1 .bg3-text {
    position: absolute;
    top: 24px;
    left: 50px;
    width: 57px;
  }
  .l1 .bgr1-over {
    position: absolute;
    left: -8px;
    top: 17px;
    z-index: 1;
    width: 66px;
  }
  .bgr1text {
    top: 31px;
    position: absolute;
    left: 6px;
    z-index: 9;
    width: 42px !important;
  }
  .l1 .bgr2-over {
    position: absolute;
    left: 6px;
    z-index: 8;
    top: -25px;
    width: 69px;
  }
  .l1 .bgr2-text {
    z-index: 10;
    left: 11px;
    position: absolute;
    width: 44px;
    top: 18px;
  }
  .l1 .bgr3 {
    left: -16px;
    position: absolute;
    top: -9px;
  }
  .l1 .bgr3-text {
    position: absolute;
    top: 22px;
    left: -11px;
    width: 57px;
  }
  .center .abs-txt {
    left: 37px;
    margin: auto;
    right: 0;
    top: 25px;
    bottom: 0;
    width: 64px;
    position: absolute;
  }
  .center .lt {
    width: 111px;
    margin-left: -7px;
  }
  .center .pt {
    width: 143px;
  }
  .center {
    margin-top: 40px;
  }
  .bg3main,
  .bg2main {
    margin-top: 37px !important;
  }
  .bg2main .relative {
    left: -8px;
  }
  .bg3main .relative {
    left: 14px;
  }
}

@media (max-width: 425px) {
  .l1 .bgr3-line {
    width: 17px;
    position: absolute;
    top: 29px;
    left: 6px;
  }
  .l1 .bg3-line {
    width: 14px;
    position: absolute;
    top: 31.5px;
    left: 53px;
  }
  .scope-txt img {
    width: 210px;
    margin-left: 20px;
    margin-top: 46px;
  }
  .l1 img {
    width: 60px;
  }
  .l1 .bg1-over {
    position: absolute;
    left: 19px;
    top: 11px;
    z-index: 1;
    width: 54px;
  }
  .bg1text {
    top: 24px;
    position: absolute;
    left: 27px;
    z-index: 9;
    width: 33px !important;
  }

  .l1 .bg2-over {
    position: absolute;
    left: 3px;
    z-index: 8;
    top: -13px;
    width: 52px;
  }

  .l1 .bg2-text {
    z-index: 10;
    left: 16px;
    position: absolute;
    width: 33px;
    top: 16px;
  }
  .l1 .bg3-text {
    position: absolute;
    top: 14px;
    left: 48px;
    width: 40px;
  }
  .l1 .bgr1-over {
    position: absolute;
    left: -6px;
    top: 13px;
    z-index: 1;
    width: 51px;
  }
  .bgr1text {
    top: 24px;
    position: absolute;
    left: 5px;
    z-index: 9;
    width: 33px !important;
  }
  .l1 .bgr2-over {
    position: absolute;
    left: 4px;
    z-index: 8;
    top: -18px;
    width: 55px;
  }
  .l1 .bgr2-text {
    z-index: 10;
    left: 9px;
    position: absolute;
    width: 35px;
    top: 12px;
  }
  .l1 .bgr3 {
    left: -13px;
    position: absolute;
    top: -9px;
  }
  .l1 .bgr3-text {
    position: absolute;
    top: 15px;
    left: -8px;
    width: 40px;
  }
  .center .lt {
    width: 85.5px;
    margin-left: -6px;
  }
  .center .pt {
    width: 111px;
  }
  .center .abs-txt {
    left: 32px;
    margin: auto;
    right: 0;
    top: 21px;
    bottom: 0;
    width: 59px;
    position: absolute;
  }
  .center {
    margin-top: 30px;
    margin-inline: 10px;
  }
  .bg3main,
  .bg2main {
    margin-top: 30px !important;
  }
}

@media (max-width: 400px) {
  .max-width {
    margin-left: -12px;
    margin-right: 0;
    width: 100%;
    padding: 0 20px;
  }
}
